{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% page_attribute "page_title" %}</title>

    {% render_block "css" %}
</head>
<body>
    <h1>WELCOME TO MY BLOG</h1>
    {% cms_toolbar %}
    <div class="container">
        <ul class="nav">
            {% show_menu 0 100 100 100 %}
        </ul>
        {% block content %}{% endblock content %}
    </div>
    {% render_block "js" %}
</body>
</html>